:root {
  font-family: Winner-CondExtraBold, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


@media (prefers-color-scheme: light) {
  :root {
  
  }
  a:hover {
  
  }
  button {
  
  }
}
